body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #fff;
  color: #333;
  padding: 40px;
  border-radius: 33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.app-header {
  color: #333; /* Text color */
  text-align: center; /* Align text to the center */
  margin-bottom: 10px;
  padding: 10px 0; /* Add padding for better spacing */
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
}

select, input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: auto;
}

select{
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.completed {
  color: green;
}

/* Existing styles for .complete-btn and .delete-btn */
.complete-btn, .delete-btn {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.complete-btn {
  background-color: #218838;
}

.complete-btn:hover {
  background-color: #1e7e34;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}
